/*
	made by snowdrop 2016/10/29 in beijing
 */
 /* -global- */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: black;
	font-size: 16px;
}
body{
	width: 100%;
	background: #1b2c44 url('../img/background.jpg');
	background-size: cover;
	overflow-x: hidden;
}
header.module-header{
	width: 100%;
	position: relative;
	z-index: 40;
	box-shadow: 0 2px 10px #070625;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* ------------------normal pc------------------ */
@media (min-width: 0px){
	header .container{
		width: 1200px;
		height: 100%;
		padding: 0 10px;
		margin: 0 auto;
	}
	.module-header-nav{
		width: 100%;
		height: 50px;
		background: #202020;
	}
	.module-header-nav>.flex{
		justify-content: flex-start;
	}
	.module-header-button-menu{
		display: block;
		width: 20px;
		height: 20px;
		background: url('../img/menu.png') no-repeat;
		/* 阿里爸爸万岁 妈了个鸡找个白色透明的icon就这么费劲吗( */
		-webkit-background-size: cover;
		background-size: cover;
		margin-right: 20px;
	}
	.module-header-nav-li{
		display: block;
		padding: 10px 25px;
		height: 100%;
		margin: 0 10px;
		transition: all 0.5s;
		line-height: 30px;
		position: relative;
	}
	.module-header-nav-li:last-of-type{
		margin-right: auto;
	}
	.module-header-nav-li>a{
		color: #ccc;
		display: block;
		width: 100%;
		height: 100%;
	}
	.module-header-nav-li:hover{
		background: #FD0101;
	}
	.module-header-nav-li>ul{
		position: absolute;
		height: 235px;
		/* height: 0; */
		width: 100%;
		padding: 10px 0;
		/* padding: 0; */
		background: #FD0101;
		top: 50px;
		left: 0px;
		overflow: hidden;
		display: none;
		box-shadow: 0 6px 10px 1px #070625;
	}
	.module-header-subnav-li{
		color: #fff;
		width: 100%;
		display: block;
		text-align: center;
		margin: 10px 0;
		transition: all 0.5s;
	}
	.module-header-subnav-li>a{
		color: #fff;
		display: block;
		width: 100%;
		height: 100%;
	}
	.module-header-subnav-li:hover{
		background: #202020;
	}
	.module-header-logo{
		height: 100%;
		width: 380px;
		text-align: right;
		color: #ccc;
		line-height: 50px;
		font-size: 20px;
		position: relative;
		z-index: 10;
		display: block;
		/* margin: 0 auto; */
	}
	.module-header-logo>img{
		width: 380px;
		transition: all 0.7s;
		position: absolute;
		z-index: -2;
		top: 50px;
		left: 4000px;
		opacity: 0;
		/* height: 430px; */
	}
	.module-header-logo:hover>img{
		left: 20px;
		opacity: 1;
	}

	/* ________________aside____________________ */

	.module-main{
		width: 100%;
		margin-top: 10px;
	}
	.module-main>.container{
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
	.module-main>.container.flex{
		justify-content: flex-start;
		align-items: flex-start;
	}
	.module-aside{
		width: auto;
		margin-right: 20px;
		position: relative;
	}
	.module-aside::before{
		content: " ";
		width: 200px;
		display: block;
	}
	.module-aside-li{
		width: 200px;
		height: 50px;
		position: absolute;
		left: 0;
	}
	.module-aside-li>a{
		color: #ccc;
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 24px;
		background:  rgba(0, 0, 0, 0.3);
		line-height: 50px;
		transition: background 0.5s;
	}
	.module-aside-li:hover>a{
		background: rgba(200, 0, 0, 1);
		box-shadow: -2px 2px 3px 1px #111;
	}
	/* -_________________article___________________- */
	.module-middle{
		width: 1200px;
		padding-bottom: 20px;
		background: rgba(0, 0, 0, 0.3);
		margin: 0 auto;
		overflow: hidden;
	}
	.module-middle-articleBox{
		width: 80%;
		margin: 20px auto;
		padding: 30px 10px;
		background: #173156 url(../img/background2.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		border-radius: 15px;
		position: relative;
		left: 100%;
		box-shadow: 0 0 2px 3px #141622;
	}
	.module-middle-article{
		width: 100%;
		/* height: 114px; */
		padding: 15px 10px;
		background: rgba(0, 0, 0, 0.3);
		overflow: hidden;
		color: #ccc;
		box-shadow: inset 0 0 10px 3px #002;
	}
	.module-middle-article-title{
		font-size: 30px;
		color: #ccc;
	}
	.module-middle-article-subTitle{
		font-size: 18px;
		margin: 10px 0;
		color: #ccc;
	}
	.module-middle-article-text{
		font-size: 14px;
		line-height: 23px;
		margin: 10px 5px;
		color: #ccc;
		word-wrap: break-word;
	}
	.module-middle-articleBox-button{
		display: block;
		text-align: center;
		position: relative;
		width: 200px;
		height: 40px;
		margin: 0 auto;
		top: 15px;
		font-size: 20px;
		font-weight: bold;
		line-height: 40px;
		color: #ccc;
	}
	.module-middle-articleBox-button:hover{
		background: rgba(0,0,0,0.5);
		color: #fff;
	}
	.module-middle-loading{
		display: block;
		width: 200px;
		height: 40px;
		position: fixed;
		top: 45%;
		left: 45%;
	}
	.module-middle-pageRoll{
		width: 100%;
		height: 100px;
		padding: 20px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.module-middle-page-button{
		width: 150px;
		height: 70px;
		background: url('../img/background2.jpg');
		-webkit-background-size: cover;
		background-size: cover;
		color: #ccc;
		border: none;
		outline: none;
		margin: 0 30px;
		cursor: pointer;
		box-shadow: 0 0 3px 3px #141622;
	}
	.module-middle-page-button:active{
		opacity: 0.7;
		box-shadow: inset 0 0 3px 1px #141622;
	}
	.module-middle-page-button:disabled{
		opacity: 0.7;
		box-shadow: inset 0 0 3px 1px #141622;
	}
	.module-middle-pageNumber{
		display: block;
		width: 80px;
		height: 50px;
		font-size: 25px;
		line-height: 50px;
		text-align: center;
		color: #ccc;
	}
	/* ___________________comment_______________________ */
	.module-middle-commentBox{
		position: relative;
    	top: 23px;
		left: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		padding-bottom: 50px;
		border-radius: 15px;
		background: #173156 url(../img/background2.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		box-shadow: 0 0 2px 3px #141622;
		margin-bottom: 5px;
	}
	.module-middle-commentBox-button{
		display: block;
		margin: 10px auto;
		width: 100px;
		height: 30px;
	    background: url(../img/background2.jpg);
	    -webkit-background-size: cover;
	    background-size: cover;
	    color: #ccc;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    text-align: center;
	    box-shadow: 0 0 3px 1px #141622;
	}
	.module-middle-commentBox-button:active{
	    box-shadow: inset 0 0 3px 1px #141622;
	   	opacity: 0.7;
	}
	.module-middle-commentBox-commentList{
		display: block;
		height: auto;
		overflow: hidden;
		max-height: 450px;
		overflow-y: scroll;
	}
	.module-middle-comment{
		padding: 10px 20px;
		border-top: 1px solid #487a92;
		background: rgba(0,0,0,0.2);
		display: none;
	}
	.module-middle-comment:hover{
		border: none;
		box-shadow: 0 0 3px 2px #487a92;
		margin: 1px;
	}
	.module-middle-comment-title{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.module-middle-comment-title>h1,.module-middle-comment-title>h2{
		color: #ccc;
		margin-right: 30px;
		font-weight: bold;
		font-size: 18px;
	}
	.module-middle-comment-text {
		color: #ccc;
		font-size: 14px;
		word-break: break-word;
	}
	/* ___________________reply_________________________ */
	.module-reply{
		position: fixed;
		top: 0;
		bottom: 0;
		right: -700px;
		margin-top: auto;
		margin-bottom: 50px;
		display: block;
		width: 740px;
		height: 500px;
	}
	.module-reply-toggle{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin-top: auto;
		margin-bottom: auto;
		display: block;
		width: 40px;
		height: 50px;
		background: #173156 url(../img/background.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		box-shadow:  0 0 3px #ccc;
		text-align: center;
		font-size: 40px;
		font-family: "Simhei";
		font-weight: bolder;
		line-height: 50px;
		color: #ccc;
		cursor: pointer;
	}
	.module-reply-area{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin-top: auto;
		margin-bottom: auto;
		background-color: #202020;
		margin-left: 40px;
		width: 700px;
		font-size: 20px;
		background: #173156 url(../img/background.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		box-shadow: 0 0 2px 5px #141622;
		border-radius: 15px;
		padding: 40px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.module-reply-area>div{
		width: 100%;
		padding: 10px 30px;
	}
	.module-reply-label{
		color: #ccc;
		display: block;
		line-height: 40px;
	}
	.module-reply-object{
		width: 90%;
		margin-left: 10%;
		height: 30px;
		font-size: 24px;
	}
	#reply-body{
		resize: none;
		height: 110px;
	}
	.module-reply-submit{
		width: 150px;
	    height: 50px;
	    background: url(../img/background2.jpg);
	    -webkit-background-size: cover;
	    background-size: cover;
	    color: #ccc;
	    border: none;
	    outline: none;
	    margin: 40px 0 0 0;
	    cursor: pointer;
	    box-shadow: 0 0 3px 3px #141622;
	}
	.module-reply-submit:active{
		opacity: 0.7;
		box-shadow: inset 0 0 3px 1px #141622;
	}
	#module-reply-status{
		text-align: center;
		font-size: 30px;
	}
}


/* ----------------kinda small pc--------------- */
/* @media (min-width: 768px) and (max-width: 1200px){
	
}

@media (max-width: 768px){
	
} */